@tailwind base;
@tailwind components;
@tailwind utilities;
  
body {
    background-size: 150px 150px; 
    background-image: linear-gradient(to right, rgba(128, 128, 128, 0.1) 1px, transparent 1px), linear-gradient(to bottom, rgba(128, 128, 128, 0.1) 1px, transparent 1px);
    cursor: none;
    box-sizing: border-box;
}

.cursor-dot {
    width: 5px;
    height : 5px;
    background-color: black;
}

.cursor-outline {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid black;
}

.cursor-outline,
.cursor-dot {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}

.cursor-dot-hover {
    width: 10px;
    height : 10px;
    background-color: black;
}

.cursor-outline-hover {
    display: none;
}

